// Vendor sass, ie bourbon, compass, anything 3rd party
// @import "vendor/bourbon/bourbon";
// @import "vendor/font-awesome/font-awesome";

// Custom utils (variables, mixins)
@import "utils/variables";

//Fonts
// @import "/assets/fonts/gentona/gentona.css";
// @import "/assets/fonts/quadon/quadon.css";
@import url(http://fonts.googleapis.com/css?family=Raleway:100);

// Partials (actual CSS)
@import "partials/layout";

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  min-width: 240px;
}

.message {
  font-size: 18.0rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-style: normal;
  color: $white;
  -webkit-font-smoothing: antialiased;
}

.section {
  background: rgba(0,0,0,0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .hovercar, .license-plate {
    position: absolute;
    // max-width: 100%;
    // width: auto;
    // min-width: 100%;
    // max-height: 100%;
    // height: 100%;
    // min-height: 100%;
    // -webkit-opacity: 0;
  }
}
